
<mdb-carousel [isControls]="false" [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/Carousel1.jpg" alt="First slide">
    <div class="row flex-column align-items-center">
      <div class="d-flex justify-content-center align-items-center p-2">
      </div>
      <div class="d-flex flex-column justify-content-around align-items-center p-2">
        <button onclick="location.href = '/register';" id="myButton"class="accent-button" >Get Started!</button>
    </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/Carousel2.jpg" alt="Second slide">
    <div class="row flex-column align-items-center">
      <div class="d-flex justify-content-center align-items-center p-2">
      </div>
      <div class="d-flex flex-column justify-content-around align-items-center p-2">
        <button onclick="location.href = '/register';" id="myButton"class="accent-button" >Join us!</button>
    </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/Carousel3.jpeg" alt="Third slide">
    <div class="row flex-column align-items-center">
      <div class="d-flex justify-content-center align-items-center p-2">
      </div>
      <div class="d-flex flex-column justify-content-around align-items-center p-2">
        <button onclick="location.href = '/register';" id="myButton"class="accent-button" >Register now</button>
    </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
