<div class='card'>
  <div class='card-header d-flex justify-content-center'>
    {{currency.name}}
  </div>

  <div class='card-body'>
    <div class='row d-flex justify-content-center'>
      <div class='col-md-4'>
        <div class='row'>
          <div class='col-md-4'>Name:</div>
          <div class='col-md-4'>{{currency.name}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Kod waluty:</div>
          <div class='col-md-4'>{{currency.code}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Ilość sprzedaży:</div>
          <input class='col-md-4' [placeholder]="'Ile chcesz sprzedać tej waluty?'" [(ngModel)]="currencyToSellAmount">
        </div>
        <div class='row'>
          <div class='col-md-4'>Jaka walutę chcesz zakupić?</div>
          <div class="col-md-10">
            <select class="form-control" name="uniqueCurrencies" [(ngModel)]="currencyToBuy" (ngModelChange)="countCurrencyToPayAmount(currencyToBuy)">
              <option *ngFor="let uniqueCurrency of uniqueCurrencies" [value]="uniqueCurrency">
                {{uniqueCurrency}}
              </option>
            </select>
          </div>
        </div>
        <div *ngIf="currencyToBuy" class='row'>
          <div class='col-md-4'>Ile kupisz za tą kwotę sprzedaży:</div>
          <div class='col-md-4' >{{currencyToBuyAmount | number : '.2-2'}} {{currencyToBuy}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class='card-footer d-flex justify-content-center'>
    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
    <button type="button" class="btn btn-outline-success"  (click)="sellCurrency()" mdbWavesEffect>
      <i class="fa fa-plus" aria-hidden="true">Buy</i>
    </button>
  </div>
</div>
